# App
APP_PORT=8080
LOG_LEVEL=info
APP_NAME=stock-app

# MySQL
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=change_me_root_password
DB_NAME=stock_app
DB_USER=stock_user
DB_PASSWORD=change_me_app_password

# AlphaVantage
ALPHA_API_KEY=replace_with_your_alpha_api_key
ALPHA_BASE_URL=https://www.alphavantage.co/query

# Scheduler
SYNC_SYMBOLS=MSFT,AAPL,META
SYNC_CRON=0 */5 * * *
SYNC_RUN_ON_START=true
